@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&display=swap');

/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Professional Tech */
    --color-primary: #1E3A8A;

    --color-accent: #f4520c;
    --color-highlight: #bd5b5b;
    --color-neutral: #F3F4F6;
    --color-charcoal: #0e0e0e;
    --color-gray: #303030;
    --dark-text: #b4b4b4;

    --max-width: min(1200px, 100%);

    --color-main-text: var(--dark-text);
    --navColorBg: var(--color-charcoal);
    --bgColor: var(--color-charcoal);
    --btnColor: var(--color-accent);
    --btnColorHover: var(--color-highlight);
    --fontColor: var(--color-neutral);
    --aboutBg: var(--color-gray);
    --footerColor: var(--color-gray);

    --headFont: "Space Grotesk", sans-serif;
    --textFont: "DM Sans", sans-serif;


    /* Professional Tech → recruiters see structure, reliability, and focus. */
    --sectionPadding: 4rem 2rem;
    --sectionMarginBottom: 4rem;

    --cardPadding: 2rem;
    --cardMarginBottom: 2rem;
    --cardRadius: 0.5rem;
}

/***** Reset Blocks *****/
/* Recommended Typography Spacing */
body {
    font-family: var(--textFont);
    color: var(--color-neutral);

    font-size: 1rem;
    line-height: 1.6;
    background: var(--bgColor);
}

h1 {
    line-height: 1.2;
    font-size: clamp(4rem, 5vw, 2.5rem);
    margin-bottom: 2rem;
    font-family: var(--headFont);
}

h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin-bottom: 1.5rem;
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-bottom: 1rem;
}

h4 {
    font-size: clamp(1rem, 1vw, 1.5rem);
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

small,
.caption {
    font-size: 0.875rem;
    line-height: 1.4;
    margin-bottom: 0.75rem;
}

/* img {
    max-inline-size: 100%;
    display: block;
    overflow: hidden;
} */

.breakupPoints::before {
    content: "00 1:";
    color: var(--btnColor);
    padding-right: 1rem;
}

#chat {
    background: var(--btnColor);
    padding: .5rem .7rem;
    font-weight: 600;
    color: #F3F4F6;
    transition: all .2s ease;
}

#chat:hover {
    color: var(--fontColor);
    background: var(--btnColorHover);
}

.btn {
    padding: 13px 17px;
    border: none;
    background: transparent;

}

.btn-primary {
    background: var(--btnColor);
    color: var(--color-neutral);
    font-weight: 500;
    font-size: 20px;
}

.btn-secondary {
    border: 1px solid var(--color-gray);
    color: var(--color-neutral);
    font-weight: 500;
    font-size: 20px;
}

.btn-primary:hover {
    background: var(--btnColorHover);
    color: var(--fontColor);

}

.btn-secondary:hover {
    /* border-color: var(--dark-text); */
    border: 1px solid var(--btnColor);
    transition: all .3s ease;
}

.fa-arrow-right:hover,
.fa-up-right-from-square:hover {
    padding-left: 5px;
    transition: all .3s ease;
}

/***** Animates and hovers Effects *****/

/* .card :is(:hover, :focus) {
    transition: all .3s ease-in-out;
    background: var();
    border: 3pt solid #F3F4F6;
} */



/***** End Animates and hovers Effects *****/

/***** End Reset Blocks *****/

/***** Navigation Section *****/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 1rem;
    height: 70px;
    max-width: var(--ma);
    margin-bottom: var(--cardMarginBottom);

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: var(--bgColor);
    border-bottom: 1pt solid var(--color-gray);
}

#logo {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    margin: 0;
    padding: 0;

}

.navBar li {
    list-style: none;
}

.navBar li a {
    text-decoration: none;
    color: var(--dark-text);
    transition: all .1s ease;
}

.navBar a:is(:hover) {
    color: var(--color-neutral);
}

.toggleBtn {
    display: none;
}

@media (max-width: 768px) {
    .navBar {
        display: none;
    }

    .toggleBtn {
        display: block;
        background: transparent;
        color: #F3F4F6;
        border: none;
        padding: 1rem;
        cursor: pointer;
    }
}

header {
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.hero {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    max-width: min(1200px, 100%);
    align-items: center;
}

.hero img {
    max-width: 100%;
    display: block;
    overflow: hidden;
    flex: 1;
}

.hero .heroContent {
    flex: 1;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        margin: 0 auto;
    }

}

/***** End Navigation Section *****/

/***** Skills Section *****/
.skills {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-content {
    color: #fff;
    border-radius: 8px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    /* margin: auto; */
    gap: 2rem;
    /* place-content: center; */

    display: flex;
    flex-wrap: wrap;
}

.skills-content {
    margin-bottom: 1rem;
    max-width: 100%;
}

.skills-content span:is(:focus, :hover) {
    transform: translateX(-5px);
}

.skill span,
span {
    color: var(--btnColor);
    margin-bottom: 0.3rem;
    font-weight: bold;
}

.progress {
    background: #333;
    max-width: 100%;
    border-radius: 4px;
    overflow: hidden;
    height: 4px;

}

.progress-bar {
    background: var(--btnColor);
    height: 100%;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.tag {
    border: 1pt solid var(--color-gray);
    color: var(--color-main-text);
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: all .3s ease-in-out;
}

.tag:is(:hover, :focus) {
    border: 1pt solid var(--btnColor);
    color: var(--color-neutral);
}

/***** End Section *****/


/***** Service Section *****/
#service {
    background: var(--aboutBg);
}

.grid-container {
    background: var(--aboutBg);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2rem;
    max-width: min(70rem, 100%);
    margin-inline: auto;
}

.card {
    background: #545454;
}

.card img {
    width: 100%;
}

.card-text {
    /* padding: 1rem; */
    padding: 0 2rem 1rem 2rem;
    margin-top: 1rem;

}

.card-text h4 {
    margin: .5rem 0;
    font-size: 16px;
}

.card-text .card-span {
    margin-bottom: .5rem;
    color: var(--btnColor);
    font-weight: 600;
    font-size: 1.3rem
}

.card-text p {
    font-size: 14px;
    color: var(--dark-text);
}

.btn-group button {
    padding: 6px 12px;
    font-size: 12px;
    background: transparent;
    border: 1pt solid var(--color-gray);
    color: var(--color-main-text);
}

.btn-group button:is(:hover, :focus) {
    border: 1pt solid var(--btnColor);
    transition: all .2s ease;
    transform: scale(1.02);
    color: var(--color-neutral);

}

/***** End Service Section *****/
.container {
    max-inline-size: min(1200px, 100%);
    margin-inline: auto;

}


section {
    padding: var(--sectionPadding);
    margin-bottom: var(--sectionMarginBottom);
}

/***** About Me *****/
#about {
    background: var(--aboutBg);
}

.about {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
    }
}

.left {
    flex: 1;
}

.right {
    flex: 2;
}

.about-info {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;

}

.info {
    border-left: 3pt solid var(--btnColor);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1;
    padding: .5rem;
    /* padding-top:1rem ; */

}

.info:hover{
    background-color: var(--color-charcoal);
    transform: scale(.95);
}


/***** End About Me *****/

/***** Contact sections *****/

.contact {
    display: flex;
    /* background-color: #1E3A8A; */
    gap: 2rem;
}

@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        max-width: 100%;
        margin: auto;
    }
}

.contact-content {
    margin: 2rem 0;
}

.contact-label {
    display: flex;
    gap: 2rem;
    padding: .75rem;


}

input,
textarea {
    background: var(--color-gray);
    display: flex;
    flex-direction: column;
    width: min(100% - 100px);
    justify-content: center;

    color: var(--dark-text);
    padding: 13px 20px;
    border: none;
    /* background: transparent; */

}


/***** End Contact sections *****/

footer {
    background: var(--footerColor);
    color: var(--dark-text);
    padding: var(--cardPadding);
}

.footer-social {
    display: flex;
    margin-top: 2rem;
    gap: 1.5rem;
    color: var(--dark-text);
}

.footer-social li {
    padding: 8px;
    border: 1pt solid #999999;
}

.footer-social li:is(:hover, :focus) {
    color: var(--btnColor);
    border-color: var(--btnColor);
    transition: all .3s ease;
}

/***** End Responsive Section *****/